<p id=”alert”><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class=”field”>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div class=”field”>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class=”actions”>
    <%= submit_tag 'Log In' %>
  </div>
<% end %>

<div>
  <h2>Are you a wholesale customer?</h2>
  <p>
    If you are a wholesale customer looking for your account info, <%= link_to 'sign up here', customer_signup_path %>
  </p>
</div>

<br />
