<tr class="title">
  <th>Order #</th>
  <th>Your PO #</th>
  <th>Status</th>
  <th>Delivery Date</th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @orders.each do |order| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <td><strong><%= order.id.to_s %></strong></td>
    <td>
      <%= order.customer_po ? order.customer_po.truncate(15) : '' %>
    </td>
    <td>
      <%= order.fulfilled? ? 'Delivered' : 'In Process' %>
    </td>
    <td>
      <% if order.fulfilled? -%>
        <%= humanize_date order.fulfilled_on %>
      <% else -%>
        <%= humanize_date order.delivery_date %>
      <% end -%>
    </td>
    <td>
      <% if order.synced? -%>
        <%= link_to 'View Invoice', 'xero link', target: "_blank" %>
      <% end -%>
    </td>
  </tr>
<% end -%>
