<tr class="title">
  <th>PO</th>
  <th>Cust PO</th>
  <th>Business</th>
  <th>
    <% if @show == "fulfilled" -%>
      Fulfilled On
    <% else -%>
      Delivery Date
    <% end -%>
  </th>
  <th>Town</th>
  <th></th>
  <th></th>
  <th></th>
</tr>

<% @orders.each do |order| -%>
  <tr class="<%= cycle "even", "odd" %>">
    <td><strong><%= order.id.to_s %></strong></td>
    <td>
      <%= order.customer_po ? order.customer_po.truncate(15) : '' %>
    </td>
    <td>
      <%= link_to order.contact.name, admin_order_path(order) %>
    </td>
    <td>
      <%= humanize_date order.fulfilled_on %>
    </td>
    <td>
      <%= humanize_date order.delivery_date %>
    </td>
    <td>
      <% if order.synced? -%>
        <%= link_to 'Open Invoice', @xero_invoice_url + order.xero_id, target: "_blank" %>
      <% end -%>
    </td>
  </tr>
<% end -%>
