<legend>
  <%= link_to contact.name, edit_admin_contact_path(contact) %>
</legend>

<div style="float:right;">
  <%= link_to "View all orders by #{contact.name}", admin_orders_path({ show: contact.id }) %>
</div>

<!--<p>-->
<!--  Paperless Billing: <strong>-->
<%# if contact.paperless_billing -%>
<!--    Yes-->
<%# else -%>
<!--    No-->
<%# end -%>
<!--</strong>-->
<!--</p>-->

<% unless contact.phone.blank? -%>
  <p>
    Phone: <strong><%= contact.phone %></strong>
  </p>
<% end -%>

<% unless contact.email.blank? -%>
  <p>
    Email: <strong><%= link_to contact.email, "mailto:" + contact.email, target: "_blank" %></strong>
  </p>
<% end -%>

<% unless contact.address.blank? -%>
  <p>
    Address: <strong><%= contact.address %></strong>
  </p>
<% end -%>

<p>
  <%= contact.internal_notes %>
</p>
