<legend>
  <%= link_to contact.name, edit_admin_contact_path(contact) %>
</legend>

<div style="float:right;">
  <%= link_to "View all orders by #{contact.name}", admin_orders_path({ show: contact.id }) %> |
  <%= link_to 'View on map', Google::Maps.query_url(contact.full_address), target: '_blank' %>
</div>

<p>
  Pickup Check: <strong><%= contact.pickup_check ? 'Yes' : 'No' -%></strong>
</p>

<p>
  Paperless Billing: <strong><%= contact.paperless_billing ? 'Yes' : 'No' -%></strong>
</p>

<% unless contact.phone.blank? -%>
  <p>
    Phone: <strong><%= contact.phone %></strong>
  </p>
<% end -%>

<% unless contact.email.blank? -%>
  <p>
    Email: <strong><%= link_to contact.email, "mailto:" + contact.email, target: "_blank" %></strong>
  </p>
<% end -%>

<p>
  Address:
  <% unless contact.address.blank? -%>
    <strong><%= contact.address %>,</strong>
  <% end -%>
  <strong><%= contact.town.name %></strong>
</p>

<p>
  <%= contact.description %>
</p>
