<tr class="<%= cycle "even", "odd" %>">
  <td><strong><%= order.id.to_s %></strong></td>
  <td>
    <%= order.user&.name %>
  </td>
  <% if order.fulfilled? || order.synced? -%>
    <td><%= link_to order.contact.name, admin_order_path(order) %></td>
  <% else -%>
    <td><%= link_to order.contact.name, edit_admin_order_path(order) %></td>
  <% end -%>
  <td class=<%= order.delivery_date < Date.today && !order.fulfilled? ? 'late' : '' %>>
    <% if order.fulfilled? -%>
      <%= humanize_date order.fulfilled_on %>
    <% else -%>
      <%= humanize_date order.delivery_date %>
    <% end -%>
  </td>
  <td><%= order.contact.town.name %></td>
  <td>
    <% if order.synced? -%>
      <%= link_to 'Open Invoice', @xero_invoice_url + order.xero_id, target: "_blank" %>
    <% end -%>
  </td>
  <% if order.fulfilled? -%>
    <td></td>
    <td></td>
  <% else -%>
    <td><%= link_to 'Deliver', fulfill_admin_order_path(order), id: "deliver_#{order.id}" %></td>
    <td>
      <%= link_to 'Void', admin_order_path(order), confirm: 'Are you sure?', method: :delete, id: "void_#{order.id}" %>
    </td>
  <% end -%>
</tr>
