<tr class="<%= cycle "even", "odd" %>">
  <td><strong><%= order.id.to_s %></strong></td>
  <td>
    <% if order.customer_po -%>
      <%= order.customer_po.truncate(15) %>
    <% else -%>
      &nbsp;
    <% end -%>
  </td>
  <% if @show == "fulfilled" -%>
    <td><%= link_to order.contact.name, admin_order_path(order) %></td>
  <% else -%>
    <td><%= link_to order.contact.name, edit_admin_order_path(order) %></td>
  <% end -%>
  <td class=<%= order.delivery_date < Date.today && !order.fulfilled? ? 'late' : '' %>>
    <% if @show == "fulfilled" -%>
      <%= humanize_date order.fulfilled_on %>
    <% else -%>
      <%= humanize_date order.delivery_date %>
    <% end -%>
  </td>
  <% if order.fulfilled? -%>
    <td></td>
    <td></td>
  <% else -%>
    <td><%= link_to 'Deliver', fulfill_admin_order_path(order), id: "deliver_#{order.id}" %></td>
    <td>
      <%= link_to 'Void', admin_order_path(order), confirm: 'Are you sure?', method: :delete, id: "void_#{order.id}" %>
    </td>
  <% end -%>
</tr>
