<h1><%= @title %></h1>

<p>
  <%= link_to 'New Order', new_admin_order_path %> |
  <%= link_to "Create a Delivery Route", admin_delivery_route_path %>
</p>

<p>
  <%= link_to 'Active Orders', admin_orders_path({show: "active"}) %> |
  <%= link_to 'Delivered Orders', admin_orders_path({show: "fulfilled"}) %> |
  <%= link_to 'Late Orders', admin_orders_path({show: "late"}) %> |
  <%= link_to 'Voided Orders', admin_orders_path({show: "void"}) %>
</p>

<div class="wide-wrapper">
  <table class="crud">
    <%= render "table_head" %>
    <% @orders.each do |order| -%>
      <%= render "order_table", order: order %>
    <% end -%>
  </table>
</div>

<br/>
