
<div class="content">
  <div class="page-title">
    <h2 id="story">Story</h2>
    <%= image_tag 'squiggle.png' %>
  </div>

  <div class="section spacer">&nbsp;</div>

  <div class="section">
    <h1>Small Town Handcrafted Mead</h1>
    <p>
      Slaymaker Cellars is a meadery located in Idaho Springs, CO. We are dedicated to using high quality ingredients,
      making great mead, and giving bach to the community.
    </p>
    <p>
      Something about being a B corp.
    </p>
  </div>

  <div class="section">
    <h1 class="right">What is Mead?</h1>
    <div class="section-title float-left">
      <h2>What</h2>
      <%= image_tag 'squiggle.png' %>
    </div>
    <p>
      Mead is "Honey Wine". We work with local apiaries to source the best honey around. We then use traditional
      winemaking techniques to ferment the honey into mead.
    </p>
    <p>
      Mead may be the oldest fermented beverage known to humans. It was popular from 12,000 years ago all the way up
      to the renaissance, when beer and grape wine took over as the most popular drinks.
    </p>
    <p>
      In the modern day, mead has been seeing a bit of a resurgence. Slaymaker Cellars if excited to be a part of this
      new renaissance.
    </p>
  </div>

  <div class="section">
    <div class="section-title float-right">
      <h2>Process</h2>
      <%= image_tag 'squiggle.png' %>
    </div>
    <ul class="process-list">
      <li>
        <%= image_tag 'sketch_honey_stick.png' %>
        <h2>Ethically Sourced</h2>
      </li>
      <li>
        <%= image_tag 'sketch_hand_heart.png' %>
        <h2>Handcrafted With Love</h2>
      </li>
      <li>
        <%= image_tag 'sketch_bottles.png' %>
        <h2>Cellar Aged</h2>
      </li>
    </ul>
  </div>

  <div class="section">
    <h1>Our Products</h1>
    <ul>
      <li>list of products</li>
      <li>next and prev buttons</li>
      <li>Link to shop</li>
    </ul>
  </div>
</div>
