<div class="page-title">
  <h2 id="story">Story</h2>
  <%= image_tag 'squiggle.png' %>
</div>

<div class="section spacer">&nbsp;</div>

<div class="section">
  <h1>News</h1>
  <p>We are hiring a salesperson! Interested in joining our employee owned company?</p>
  <p>
    <%= link_to 'Check out our careers page.', careers_path %>
  </p>
</div>

<div class="section">
  <h1>Small Town Handcrafted Mead</h1>
  <p>
    Slaymaker Cellars is an award winning meadery located in Idaho Springs, CO. We are dedicated to using
    high quality ingredients, making great mead, and giving back to the community.
  </p>
  <p>
    We are an employee owned Benefit Corporation. "B corps" are for-profit corporations that are not only beholden to
    their shareholders. They also have a legal responsibility to do good in the world. In support of that goal, we
    strive to do the following:
  </p>
  <ul>
    <li>Make a good product and satisfy an appetite in the beverage world.</li>
    <li>Feature and support good farmers.</li>
    <li>Educate about pollinators and support pollinator health.</li>
    <li>Continue a 20,000 year old tradition.</li>
    <li>Move towards simpler and more sustainable lifestyle.</li>

  </ul>
</div>

<div class="section">
  <h1 class="right">What is Mead?</h1>
  <div class="section-title float-left">
    <h2>What</h2>
    <%= image_tag 'squiggle.png' %>
  </div>
  <p>
    Mead is "Honey Wine". We work with local apiaries to source the best honey around. We then use traditional
    winemaking techniques to ferment the honey into mead.
  </p>
  <p>
    Mead may be the oldest fermented beverage known to humans. It was popular from 12,000 years ago all the way up
    to the renaissance, when beer and grape wine took over as the most popular drinks.
  </p>
  <p>
    In the modern day, mead has been seeing a bit of a resurgence. Slaymaker Cellars is excited to be a part of this
    new renaissance.
  </p>
</div>

<div class="section">
  <div class="section-title float-right">
    <h2>Process</h2>
    <%= image_tag 'squiggle.png' %>
  </div>
  <ul class="process-list">
    <li>
      <%= image_tag 'sketch_honey_stick.png' %>
      <h2>Ethically Sourced</h2>
    </li>
    <li>
      <%= image_tag 'sketch_hand_heart.png' %>
      <h2>Handcrafted With Love</h2>
    </li>
    <li>
      <%= image_tag 'sketch_bottles.png' %>
      <h2>Cellar Aged</h2>
    </li>
  </ul>
</div>

<div class="section">
  <h1 class="right">About Us</h1>
  <div class="section-title float-left">
    <h2>Co-Op</h2>
    <%= image_tag 'squiggle.png' %>
  </div>
  <p>
    We are a Workers' Cooperative. Every employee at Slaymaker Cellars has ownership in the company and an equal vote
    in how the company is run.
  </p>
  <div class="section-title float-right">
    <h2>Local</h2>
    <%= image_tag 'squiggle.png' %>
  </div>
  <p>
    We have a commitment to purchase core products (at least 50% of non-labor expenses) from independent suppliers
    local to where the product will be used or where the company operates.
  </p>
  <p>
    We have a commitment to serve at least 75% local and independent clients or customers.
  </p>
</div>

<div class="section">
  <h1 class="left">Upcoming Events</h1>
  <p>
    One of our favorite things is to get out there and meet our fans. We always have new events coming up. We welcome
    you to come taste our new offerings and learn about mead production.
  </p>
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FDenver&amp;src=aW5mb0BzbGF5bWFrZXJjZWxsYXJzLmNvbQ&amp;color=%23EF6C00&amp;showTitle=0&amp;showNav=0&amp;mode=AGENDA&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=1" style="border:solid 1px #777" width="600" height="400" frameborder="0" scrolling="no"></iframe>
</div>

<!--  <div class="section">-->
<!--    <h1>Our Products</h1>-->
<!--    <ul>-->
<!--      <li>list of products</li>-->
<!--      <li>next and prev buttons</li>-->
<!--      <li>Link to shop</li>-->
<!--    </ul>-->
<!--  </div>-->
