<% if contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="actions">
  <%= form.submit %>
</div>

<div class="column">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: 'autofocus' %>
  </div>

  <div class="field">
    <%= form.label :town_name, 'Town' %>
    <%= form.text_field :town_name, list: 'towns' %>

    <datalist id="towns">
      <% Town.all.each do |town| %>
        <option value="<%= town.name %>">
      <% end %>
    </datalist>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact_point %>
    <%= form.text_field :contact_point %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, rows: 4, cols: 50 %>
  </div>
</div>

<div class="column">
  <div class="field">
    <%= form.check_box :pickup_check %>
    <%= form.label :pickup_check, class: :inline %>
  </div>

  <div class="field">
    <%= form.check_box :paperless_billing %>
    <%= form.label :paperless_billing, class: :inline %>
  </div>

  <div class="field">
    <%= form.check_box :always_gets_case_deal %>
    <%= form.label :always_gets_case_deal, class: :inline %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 8, cols: 48 %>
  </div>
</div>

<%= render partial: "notes", locals: { notes: @notes } %>