<% if contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

    <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="actions">
  <%= form.submit %>
</div>

<div class="column">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :contact_point %>
    <%= form.text_field :contact_point %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :town %>
    <%= form.collection_select :town_id, Town.order(:name), :id, :name, include_blank: true %>
  </div>
</div>

<div class="column">
  <div class="field">
    <%= form.label :pickup_check %>
    <%= form.check_box :pickup_check %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 8 %>
  </div>
</div>

<%= render partial: "notes", locals: { notes: @notes } %>