<h2>Notes</h2>

<p>
  <%= link_to 'Add Note', new_admin_note_path(contact_id: @contact.id) %>
</p>

<div class="notes">
  <% if notes -%>
    <% notes.each do |note| -%>
      <div class="note <%= note.resolved? ? 'resolved' : '' %>">
        <div class="column">
          <h3 class="title"><%= note.created_by.name %> - <%= humanize_date note.created_at %></h3>
          <p><%= note.body %></p>
        </div>
        <div class="column">
          <% if note.resolved? -%>
            <h3 class="resolved">Resolved on <%= humanize_date note.resolved_at %></h3>
            <p><%= note.resolution %></p>
          <% else -%>
            <%= link_to 'Resolve', close_admin_note_path(note), class: "resolve" %>
          <% end -%>
        </div>
      </div>

    <% end -%>
  <% end -%>
</div>