<h1><%= @title %></h1>

<fieldset class="view_select">
  <legend>
    Select Contacts to View
  </legend>

  <p class="main_options">
    <%= @show == "active" ? "Active" : link_to('Active', admin_contacts_path({ show: "active" })) %> |
    <%= @show == "inactive" ? "Deleted" : link_to(
      'Deleted', admin_contacts_path({ show: "inactive" })
    ) %> |
    <%= @show == "urgent" ? "Urgent" : link_to('Urgent', admin_contacts_path({show: "urgent"})) %>
  </p>
</fieldset>

<p>
  <%= link_to 'New Contact', new_admin_contact_path %>
</p>

<div class="wide-wrapper">
  <table class="crud">
    <tr class="title">
      <th>Name</th>
      <th>Town</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Last Contact</th>
      <th>Pickup Check?</th>
      <th>Synced?</th>
      <!--      <th>Last Order</th>-->
      <th></th>
    </tr>

    <% @contacts.each do |contact| %>
      <tr class="<%= cycle "even", "odd" %><%= contact.unresolved_notes? ? ' unresolved' : '' %>">
        <td>
          <%= link_to contact.name, edit_admin_contact_path(contact) %>
        </td>
        <td>
          <% if contact.town == nil -%>
            &nbsp;
          <% else -%>
            <%= contact.town.name %>
          <% end -%>
        </td>
        <td>
          <% unless contact.phone == nil || contact.phone == "" -%>
            <%= contact.phone %>
          <% end -%>
        </td>
        <td>
          <% unless contact.email == nil || contact.email == "" -%>
            <%= link_to "Email", "mailto:#{contact.email}", target: "_blank" %>
          <% end -%>
        </td>
        <td nowrap>
          <% if contact.notes.empty? -%>
            &nbsp;
          <% else -%>
            <% if contact.unresolved_notes? -%>
              <%= link_to "#{time_ago_in_words contact.last_contacted} ago",
                          edit_admin_contact_path(contact)
              %>
            <% else -%>
              <%= time_ago_in_words contact.last_contacted %> ago
            <% end -%>
          <% end -%>
        </td>
        <td>
          <%= contact.pickup_check ? 'Y' : '' %>
        </td>
        <td>
          <span><%= contact.synced? ? '✓' : 'X' %></span>
        </td>
        <!--        <td nowrap>-->
        <%# if contact.last_order -%>
        <%#= link_to "#{time_ago_in_words contact.last_order} ago", admin_orders_path({show: contact.id}) %>
        <%# else -%>
        <!--            &nbsp;-->
        <%# end -%>
        <!--        </td>-->
        <td>
          <%= link_to 'X',
                      admin_contact_path(contact), confirm: 'Are you sure?',
                      method: :delete,
                      id: "delete_#{contact.id}" %>
          &nbsp;
        </td>
      </tr>
    <% end %>
  </table>
</div>
