<div class="day">

  <h2><%= title %></h2>

  <table class="crud fulfillment">
    <tr class="title">
      <th>Type</th>
      <th>Cases</th>
      <th>Bottles</th>
    </tr>

    <% @fulfillment.product_names.each do |product| -%>
      <% amount = date.nil? ? @fulfillment.total_amount(product) : @fulfillment.amount(product, date) -%>
      <tr class="<%= cycle "even", "odd" %>">
        <td><%= product %></td>
        <td class=<%= active_class(amount[:cases]) %>>
          <%= amount[:cases] %>
        </td>
        <td class=<%= active_class(amount[:bottles]) %>>
          <%= amount[:bottles] %>
        </td>
      </tr>
    <% end -%>

  </table>
</div>
