<h1>Fulfillment</h1>
<p>All numbers are bottles, not cases.</p>

<div class="day">
  <h2>Total</h2>

  <table class="crud fulfillment">
    <tr class="title">
      <th>Type</th>
      <th>Bottles</th>
    </tr>

    <% @fulfillment.product_names.each do |product| -%>
      <tr>
        <td><%= product %></td>
        <td class=<%= @fulfillment.total_amount(product) > 0 ? 'active' : 'inactive' %>>
          <%= @fulfillment.total_amount(product) %>
        </td>
      </tr>
    <% end -%>

  </table>
</div>
<% @fulfillment.days.each do |date| -%>
  <div class="day">
    <h2><%= humanize_date date %></h2>

    <table class="crud fulfillment">
      <tr class="title">
        <th>Type</th>
        <th>Bottles</th>
      </tr>

      <% @fulfillment.product_names.each do |product| -%>
        <tr>
          <td><%= product %></td>
          <td class=<%= @fulfillment.amount(product, date) > 0 ? 'active' : 'inactive' %>>
            <%= @fulfillment.amount(product, date) %>
          </td>
        </tr>
      <% end -%>

    </table>
  </div>
<% end -%>