<h1>Administration</h1>
<% unless current_user.xero_connected? -%>
  <p>
    <%= form_tag('/auth/xero_oauth2', method: 'post') do %>
      <button type='submit'>Connect to Xero</button>
    <% end %>
  </p>
<% end -%>

<% if Rails.env == 'development' -%>
  <p>
    <%= link_to 'Mailers', 'rails/mailers', target: '_blank' %>
  </p>
<% end -%>

<div class="wide-wrapper">
  <div class="c-panel">
    <fieldset>
      <legend><%= link_to "Orders", admin_orders_path %></legend>
      <ul>
        <li>
          <%= link_to "New Order", new_admin_order_path %>
        </li>
        <li>
          <%= link_to "Create a Delivery Route", admin_delivery_route_path %>
        </li>
        <li>&nbsp;</li>
      </ul>
      <ul>
        <% unless @late_orders.size == 0 -%>
          <li class="urgent">
            <%= link_to "#{@late_orders} late", admin_orders_path(show: :late) %>
          </li>
        <% end -%>
        <li>
          <%= link_to "#{@todays_orders} to fulfill today", admin_orders_path %>
        </li>
        <li>
          <%= link_to "#{@orders} in total", admin_orders_path %>
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend><%= link_to "Contacts", admin_contacts_path %></legend>
      <ul>
        <li>
          <%= link_to 'New Contact', new_admin_contact_path %>
        </li>
        <% unless @urgent_contacts.size == 0 -%>
          <li class="urgent">
            <%= link_to "#{@urgent_contacts} urgent contacts", admin_contacts_path(show: :urgent) %>
          </li>
        <% end -%>
        <li>
          <%= pluralize @contacts, 'contact' %>
        </li>
      </ul>
    </fieldset>

    <fieldset>
      <legend><%= link_to "Products", admin_products_path %></legend>
      <ul>
        <li>
          <%= link_to 'New Product', new_admin_product_path %>
        </li>
        <li>
          <%= pluralize @products, 'product' %>
        </li>
        <li>
          <%= @active_products %> active products
        </li>
      </ul>
    </fieldset>

<!--    <fieldset>-->
<!--      <legend><%#= link_to "Reports", admin_reports_path %></legend>-->
<!--      <ul>-->
<!--        <li>-->
          <%#= link_to 'Keg Report', admin_reports_kegs_path %>
<!--        </li>-->
<!--      </ul>-->
<!--    </fieldset>-->

    <fieldset>
      <legend><%= link_to "Locations", admin_states_path %></legend>
      <ul>
        <li>
          <%= link_to 'New State', new_admin_state_path %>
        </li>
        <li>
          <%= link_to 'View States', admin_states_path %>
        </li>
        <li>
          <%= pluralize @states, 'State' %>
        </li>
      </ul>
      <ul>
        <li>
          <%= link_to 'New Town', new_admin_town_path %>
        </li>
        <li>
          <%= link_to 'View Towns', admin_towns_path %>
        </li>
        <li>
          <%= pluralize @towns, 'Town' %>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
