<h1>Wholesale Orders Report</h1>

<p>
  <%= link_to 'Reports', admin_reports_path %>
</p>

<%= form_tag(admin_reports_orders_path, method: :get) do %>
  <div class="field">
    <%= label_tag :start_date, 'Start Date' %>

    <%= date_field_tag :start_date, class: "datepicker" %>
  </div>
  <div class="field">
    <%= label_tag :end_date, 'End Date' %>

    <%= date_field_tag :end_date, class: "datepicker" %>
  </div>
  <%= submit_tag 'Update', name: :update, disable_with: "Loading..." %>
<% end -%>


<% unless @orders.blank? -%>
  <h1><%= "#{humanize_date(@start_date)} - #{humanize_date(@end_date)}" %></h1>

  <% @orders.each do |order| -%>
    <p>
      Order id: <%= order.id %>
    </p>

  <% end %>

<% end -%>