<h1>New Issue</h1>

<%= form_for(@note, url: {action: "resolve"}) do |f| %>
  <p>
    <%= @note.body %>
  </p>
  <div class="field">
    <%= f.label :resolution, autofocus: 'autofocus' %><br/>
    <%= f.text_area :resolution, rows: 30, cols: 50 %>
  </div>
  <div class="field">
    <%= f.hidden_field :contact_id, value: @contact_id %>
  </div>
  <div class="actions">
    <%= f.submit "Resolve Issue", disable_with: "Loading..." %>
  </div>
<% end -%>