<h1>Users</h1>

<p>
  <%= link_to 'New User', new_admin_user_path %>
</p>

<div class="wide-wrapper">
  <table class="crud">
    <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle "even", "odd" %>">
        <td><%= link_to user.name, edit_admin_user_path(user) %></td>
        <td><%= link_to user.email, edit_admin_user_path(user) %></td>
        <td><%= link_to user.role, edit_admin_user_path(user) %></td>
        <td>
          <%= link_to 'X', admin_user_path(user), method: :delete, id: "delete_#{user.id}", data: { confirm: 'Are you sure?' } %>
          &nbsp;
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<br/>
