<ul class="links">
  <li><%= link_to 'Log Out', logout_path %></li>
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Products', admin_products_path %></li>
  <li><%= link_to 'Fulfillment', admin_fulfillment_path %></li>
  <li><%= link_to 'Orders', admin_orders_path %></li>
  <li><%= link_to 'Contacts', admin_contacts_path %></li>
  <li><%= link_to 'Home', '/admin' %></li>
</ul>
