<button class="hamburger-menu" onclick="this.focus()">
  <span class="hamburger">_</span>
  <span class="hamburger">_</span>
  <span class="hamburger">_</span>
  <nav class="sidebar-menu">
    <% if current_user&.role == User::ROLES[:admin] %>
      <%= render partial: 'layouts/admin_links' %>
    <% elsif current_user&.role == User::ROLES[:customer] %>
      <%= render partial: 'layouts/customer_links' %>
    <% else %>
      <ul class="links">
        <li class="home_image"><%= link_to image_tag('small_tan_logo.png'), root_path %></li>
        <li><%= link_to 'Menu', menu_path %></li>
        <li><%= link_to 'Visit Us', visit_path %></li>
        <li><%= link_to 'Order', 'https://vinoshipper.com/shop/slaymaker_cellars', target: '_blank' %></li>
        <li><%= link_to 'Meads', products_path %></li>
        <li><%= link_to 'Where to Buy', contacts_path %></li>
        <li><%= link_to 'Our Story', root_path(anchor: 'story') %></li>
        <li class="home_text"><%= link_to 'Home', root_path %></li>
        <!--    <li><%#= link_to 'Careers', careers_path %></li>-->
      </ul>
    <% end %>
  </nav>
</button>
