<div class="links">
  <%= link_to 'Our Story', root_path %>
  <%= link_to 'Our Process', products_path %>
  <%= link_to 'Order', products_path %>
  <%= link_to 'Log In', login_path %>
  <%= image_tag 'small_tan_logo.png' %>
</div>
