<div class="links">
  <%= link_to 'Our Story', root_path(anchor: 'story') %>
  <%= link_to 'Our Process', products_path %>
  <%= link_to 'Order', products_path %>
  <%= link_to 'Log In', login_path %>
  <%= link_to image_tag('small_tan_logo.png'), root_path %>
</div>
