<!DOCTYPE html>
<html>
  <head>
    <title>Slaymaker Cellars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'cocoon', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body class="<%= controller.controller_name%><%= current_user ? ' admin' : '' %>">
  <% if controller_name == 'home' && !current_user %>
    <%= render partial: 'layouts/splash_header' %>
  <% else %>
    <%= render partial: 'layouts/header' %>
  <% end %>

  <p id=”notice”><%= notice&.html_safe %></p>

  <div class="content">
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>
  </body>
</html>
