<!DOCTYPE html>
<html>
  <head>
    <title>Slaymaker Cellars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="header">
    <div class="left">
      <div class="image-wrapper">
        <%= image_tag 'traditional_bottle.png' %>
        <%= image_tag 'traditional_bottle.png' %>
        <%= image_tag 'traditional_bottle.png' %>
      </div>
    </div>
    <div class="right">
      <% if current_user %>
        <%= render partial: 'layouts/admin_links' %>
      <% else %>
        <%= render partial: 'layouts/links' %>
      <% end %>
      <div class="header-text">
        <h1>Cellar Aged</h1>
        <h1>Craft Mead</h1>
        <span>crafted from love</span>
        <div class="link-wrapper">
          <%= link_to '&nbsp;', root_path(anchor: 'story'), class: 'box-shadow' %>
          <%= link_to 'Learn More', root_path(anchor: 'story') %>
        </div>
      </div>
    </div>
  </div>

  <p id=”notice”><%= notice %></p>

  <%= yield %>

  <%= render partial: 'layouts/footer' %>
  </body>
</html>
